body {
  margin: 0;
  padding: 0;
  background: #e84118;
}

.container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 25px;
  border-radius: 25px;
  padding: 10px;
}

.inputTxt{
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 25px;
  width: 400px;
  font-weight: bold;
  margin:0 10px;
  float:left;
}

.inputBtn {
  color: #e84118;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /*background-color: #2f3640;*/
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
  background-image: url('./assets/images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}





.inputTxt:focus::placeholder {
  color: transparent;
}

.dropdown {
  float:left;
}

.dropBtn {
  background-color: #3498db;
  border-radius: 50%;
  color: white;
  border: none;
  cursor: pointer;
  width:25px;
  height:25px;
  float:left;
}

.dropBtn:focus {
  background-color: #2980B9;
}



.dropdownContent {
  display: none;
  position: absolute;
  background-color: transparent;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-raduis:50%;
  width:25px;
  clear:left;
}

.dropdownContent span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 50%;
}

.dropdown span:hover {background-color: #ddd;}

.show {
  display: block;
}


